.DS_Store
fish_variables
omf.fish
packer_compiled.lua
**/lazy-lock.json
**/__pycache__
__pycache__/

# Confi files
config/tmux/plugins
config/lazygit/state.yml
config/k9s/config.yml
config/tmux/plugins/
config/lazygit/state.yaml
config/btop/btop.log
