polkit.addRule(function (action, subject) {
  if (action.id == "net.reactivated.fprint.device.enroll") {
    return subject.user == "cacarico" ? polkit.Result.YES : polkit.Result.NO
  }
})
